.footer{
    margin-top: 3em;
    background-color: #0E0B16;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    height: 2em;
    text-align: center;
    .font-awesome{
        color:white;
    }
    .resume{
        background-color: #0E0B16;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        button{
            text-align: center;
            width:10%;
            cursor: pointer;
            padding:0.7em 0.2em;       
            border-radius: 2px;
            background-color:  #4f0d46;
            color:white;
            font-size: 0.7em;
            font-weight: bold;
            border: none;
        }
    }
    .phone{
        background-color: #0E0B16;
        padding: 0.3em;
        margin: auto;
        display: inline-block;
    }
    .mail{
        background-color: #0E0B16;
        margin: auto;
        padding: 0.3em;
        display: inline-block;
    }

}

@media screen and (max-width:730px){
    .footer{
        flex-wrap: wrap;
        height: 5em;
        font-size: 0.8em;
        padding-top: 1.3em;
    padding-bottom: 1.1em;
    
    
    .resume{
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        button{
            text-align: center;
            width:40%;
            cursor: pointer;
            padding:0.7em 0.2em;       
            border-radius: 2px;
            background-color:  #4f0d46;
            color:white;
            font-size: 0.7em;
            font-weight: bold;
            border: none;
        }
    }
    .info{
        display: flex;
        flex-direction: row;
        flex
        .phone{
            padding: 0em;
            margin: auto;
            display: inline-block;
        }
        .mail{
            margin: auto;
            padding: 0em;
            display: inline-block;
        }
    }
}
}